<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xianyuli.my.shop.web.admin.dao.TbUserDao">
    <sql id="TbUserColumns">
        id,
        username,
        password,
        phone,
        email,
        created,
        updated
    </sql>

    <insert id="insert" parameterType="com.xianyuli.my.shop.domain.TbUser">
        INSERT INTO `tb_user` (
        `username`, `password`, `phone`, `email`, `created`, `updated`
        )
        VALUES
            (#{username}, #{password}, #{phone}, #{email}, #{created}, #{updated} )
    </insert>

    <delete id="delete" >
        DELETE FROM tb_user WHERE id=#{id}
    </delete>

    <select id="getById" resultType="com.xianyuli.my.shop.domain.TbUser">
        SELECT
        <include refid="TbUserColumns"/>
        FROM tb_user WHERE id=#{id}
    </select>

    <update id="update" parameterType="com.xianyuli.my.shop.domain.TbUser">
        UPDATE `myshop`.`tb_user`
            SET `username` = #{username},
            `password` =  #{password},
            `phone` =  #{phone},
            `email` =  #{email},
            `created` =  #{created},
            `updated` =  #{updated}
        WHERE
	         `id` = #{id};
    </update>

    <select id="getByUsername" resultType="com.xianyuli.my.shop.domain.TbUser">
        SELECT
        <include refid="TbUserColumns"/>
        FROM `tb_user` where username LIKE CONCAT('%',#{username},'%')
    </select>

    <select id="getByEmail" resultType="com.xianyuli.my.shop.domain.TbUser">
        SELECT
        <include refid="TbUserColumns"/>
        FROM `tb_user` where email=#{email}
    </select>

    <select id="page" resultType="com.xianyuli.my.shop.domain.TbUser">
        SELECT
        <include refid="TbUserColumns"/>
        FROM `tb_user` t
        <where>
            <if test="param3.username!='' and param3.username!=null">
                AND t.username LIKE CONCAT('%',#{param3.username},'%')
            </if>
            <if test="param3.email!='' and param3.email!=null">
                AND t.email LIKE CONCAT('%',#{param3.email},'%')
            </if>
            <if test="param3.phone!='' and param3.phone!=null">
                AND t.phone LIKE CONCAT('%',#{param3.phone},'%')
            </if>
        </where>
        limit #{start},#{length}
    </select>

    <select id="count" resultType="integer">
        SELECT
            count(*)
        FROM `tb_user` t
        <where>
            <if test="_parameter.username!='' and _parameter.username!=null">
                AND t.username LIKE CONCAT('%',#{_parameter.username},'%')
            </if>
            <if test="_parameter.email!='' and _parameter.email!=null">
                AND t.email LIKE CONCAT('%',#{_parameter.email},'%')
            </if>
            <if test="_parameter.phone!='' and _parameter.phone!=null">
                AND t.phone LIKE CONCAT('%',#{_parameter.phone},'%')
            </if>
        </where>
    </select>

    <delete id="deleteMutil" >
        delete from `tb_user`  where id in
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>